<div class="mt-5 d-flex column justify-content-center align-items-center">
  <h2>Add New Comment</h2>

  <%= form_with(model: @comment, url: user_post_comments_path) do |f| %>
    <div>
      <%= f.text_area :text, placeholder: "Type your comment here" %>
    </div>
    
    <%= f.submit 'New Comment', class: 'mt-3 pagination text-center' %>
  <% end %>
</div>